<div id="sticky-header" class="main-header-area">
    <div class="container">
        <div class="header_bottom_border">
            <div class="row align-items-center">
                <div class="col-xs-1 d-lg-none hidden-xl text-center">
                    <a href="{{path('home')}}">
                        <h1 class="text-orange titre">
                            Hop Hop Hop Livraison
                        </h1>
                    </a>
                </div>
                <div class="col-md-12 text-center">
                    <div class="main-menu  d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li>
                                    <a role="menuitem" href="{{path('home')}}">Présentation</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="{{ path('transports') }}">Transports</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="{{ path('services') }}">Services</a>
                                </li>
                                <li class="d-lg-none hidden-xl">
                                    <a class="menu" href="{{path('french_rdv')}}">Prise Rdv</a>
                                </li>
                                <li>
                                    <a class="menu" role="menuitem" href="{{ path('contact') }}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>