<div id="sticky-header" class="main-header-area">
    <div class="container">
        <div class="header_bottom_border">
            <div class="row align-items-center">
                <div class="col-md-1 text-center">
                    <a href="{{path('home')}}">
                        <h1 class="text-orange">
                            HHHL
                        </h1>
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="main-menu  d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li>
                                    <a role="menuitem" href="{{path('home')}}">Présentation</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="about.html">Transports</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="service.html">Services</a>
                                </li>
                                <li class="d-lg-none hidden-xl">
                                    <a href="{{path('french_rdv')}}">Prise Rdv</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="{{ path('contact') }}">Contact</a>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li class="d-lg-none hidden-xl">
                                        <a href="{{path('french_rdv')}}">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="d-lg-none hidden-xl">
                                        <a href="{{path('french_rdv')}}">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>